<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khalil Ahmad: Get More Familiar</title>


        <!-- swiper css -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

        <!-- box icons -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
        <!-- custom css -->
        <link rel="stylesheet" href="css/style.css">
    
        <!-- For Email Responce CSV  -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js" integrity="sha512-r22gChDnGvBylk90+2e/ycr3RVrDi8DIOkIGNhJlKfuyQM4tIRAI062MaV8sfjQKYVGjOBaZBOA87z+IhZE9DA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>   
</head>
<body>
    <!-- header design -->
    <header class="header" id="2">
        <a href="#" class="logo">Khalil Ahmad</a>

        <nav class="navbar2">
            <a href="#Inspirations" class="active">Inspirations</a>
        </nav>

        <div class="bx bx-moon" id="darkMode-icon"></div>

        <div class="bx bx-menu" id="menu-icon"></div>
    </header>


    <section id="Inspirations">
        <section class="services" id="services">
            <h2 class="heading">My <span>Inspirations</span></h2>
    
            <div class="services-container">
                <div class="services-box">
                    <img src="images/Purple Masjid Logo.png" width="132" style="margin-bottom: -23px; margin-top: -27px;">
                    <h3>Islam</h3>
                    <p>Being a muslim islam is my biggest inspiration especially <b>Prophet Muhammad's (PBUH)</b> teachings deeply inspires me. His commitments to justice and compassion guides my action. </p>
                    <a href="https://www.w3schools.com/whatis/" target="_blank" class="btn">Read More</a>
                </div>
                <div class="services-box">
                    <img src="images/Abdul Sattar Edhi.jpeg" width="138" height="130">
                    <h3>Abdul Sattar Eidhi</h3>
                    <p>Abdul Sattar Edhi's humanitarian legacy deeply influences me, inspiring empathy and altruism in my life.</p>
                    <a href="https://www.holabrief.com/creative-brief/graphic-design-template#:~:text=It's%20a%20document%20that%20details,the%20whole%20creative%20process%20easier."  target="_blank" class="btn">Read More</a>
                </div>
                <div class="services-box">
                    <i class='bx bx-bar-chart-alt'></i>
                    <h3>Sidhu Moose Wala</h3>
                    <p>Sidhu Moose Wala though he was a sikkh but his fearless fusion of Punjabi music with modern themes inspires me. His strength and unwavering faith drive me to use my voice for positive change.
                    </p>
                    <a href="https://developer.android.com/docs" target="_blank" class="btn">Read More</a>
                </div>
            </div>
        </section>
    </section>

    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- swiper js -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <!-- custom js -->
    <script src="js/script.js"></script>

</body>
</html>