<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khalil Ahmad</title>
    <link rel="shortcut icon" href="static/images/KhalilAhmad.png" type="static/image/png">

    <!-- swiper css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <!-- box icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- custom css -->
    <link rel="stylesheet" href="static/css/style.css">

    <!-- For Email Responce CSV  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"
        integrity="sha512-r22gChDnGvBylk90+2e/ycr3RVrDi8DIOkIGNhJlKfuyQM4tIRAI062MaV8sfjQKYVGjOBaZBOA87z+IhZE9DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"
        integrity="sha512-r22gChDnGvBylk90+2e/ycr3RVrDi8DIOkIGNhJlKfuyQM4tIRAI062MaV8sfjQKYVGjOBaZBOA87z+IhZE9DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Bootstrap Icons     -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    <!-- For Project Section -->
    <link rel="stylesheet" href="static/css/Files/lightbox.min.css">

</head>

<body>

    <!-- header design -->
    <header class="header">
        <a href="#" class="logo">Khalil Ahmad</a>

        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#services">Services</a>
            <a href="#portfolio">Projects</a>
            <a href="#Skills-Bar-Container">Skills</a>
            <a href="#contact">Contact</a>
        </nav>

        <div class="bx bx-moon" id="darkMode-icon"></div>

        <div class="bx bx-menu" id="menu-icon"></div>
    </header>

    <!-- home section design -->
    <section class="home" id="home">
        <div class="home-content">
            <h3>Hello, I am</h3>
            <h1>Khalil Ahmad</h1>
            <p>
                A web developer and a Graphic designer who loves to develope websites and make designes that makes
                difference and satisfaction.
            </p>
            <p>Currently I am a Student at <a href="https://www.uet.edu.pk/" target="_blank"><span>UET Lahore</span></a>
                in Computer Science Department with keen interest in Web development, designing and AI/ML. I have
                developed a couple of my semester
                projects and always willing to contribute in some of new projects.</p>

            <div class="social-media">
                <a href="https://www.facebook.com/profile.php?id=100078196692626" target="_blank"><i
                        class='bx bxl-facebook'></i></a>
                <a href="https://www.youtube.com/channel/UCROcgBY2Jp7gKMVZpLxmIvA" target="_blank"><i
                        class='bx bxl-youtube'></i></a>
                <a href="https://www.instagram.com/khalilahmad.zip/" target="_blank" alt="Slinkedin"><i
                        class='bx bxl-instagram-alt'></i></a>
                <a href="https://www.linkedin.com/in/khalil-ahmad-411270260/" target="_blank"><i
                        class='bx bxl-linkedin'></i></a>
                <a href="https://wa.me/923220601132?text=Hello%20Khalil%20Ahmad,%20I%20found%20you%20through%20your%20portfolio.%20I%20was%20thinking%20if%20i%20could%20get%20to%20know%20more%20about%20you.%20Regards,%20[Your%20Name]."
                    target="_blank"><i class='bx bxl-whatsapp'></i></a>

            </div>

            <a id="downloadLink" href="Files/Khalil_Ahmad_CV.pdf" class="btn" download>Download CV</a>
            <a id="" href="" class="btn" style="margin-left: 19px;" download>Hire Me</a>
            <p id="ipDisplay"></p>
        </div>

        <div class="profession-container">
            <div class="profession-box">
                <div class="profession" style="--i:0;">
                    <i class='bx bx-code-alt'></i>
                    <h3>Web Developer</h3>
                </div>
                <div class="profession" style="--i:2;">
                    <i class='bx bx-code-alt'></i>
                    <h3>AI/ML Enthusiast</h3>
                </div>
                <div class="profession" style="--i:1;">
                    <i class='bx bx-palette'></i>
                    <h3>UI/UX Designer</h3>
                </div>
                <div class="profession" style="--i:3;">
                    <i class='bx bx-game'></i>
                    <h3>A Gamer</h3>
                </div>

                <div class="circle"></div>
            </div>

            <div class="overlay"></div>
        </div>

        <div class="home-img">
            <!-- <img src="MyImage__1_-removebg-preview.png" alt=""> -->
        </div>
    </section>

    <!-- about section design -->
    <section class="about" id="about">
        <div class="about-img">
            <img src="static/images/KhalilAhmad.png" alt="">
        </div>

        <div class="about-content">
            <h2 class="heading">About <span>Me</span></h2>
            <h3>
                Hi there, welcome to my website! I'm Khalil,
                a passionate web developer who enjoys learning new technologies
                and solving problems with code!
            </h3>
            <p>
                This website is my personal blog where I write about my interests, projects and whatever i like.
            </p>
            <p>
                Thank you for visiting my website and getting to know me better. I hope you
                enjoyed reading my blog posts and
                found
                them useful and informative.
                If you have any feedback or
                suggestions, please let me know. I'd love to hear from you.
            </p>
            <a href="index2.html" class="btn" target="_parent">Read More</a>
        </div>
    </section>

    <!-- services section design -->
    <section class="services" id="services">
        <h2 class="heading">My <span>Services</span></h2>

        <div class="services-container">
            <div class="services-box">
                <i class='bx bx-code-alt'></i>
                <h3>Web Development</h3>
                <p>
                    I specialize in creating modern, high-quality, responsive, and user-friendly websites with
                    expertise in different web frameworks like flask, ASP .NET Core etc. Let's build something great
                    together!
                </p>
                <a href="https://www.w3schools.com/whatis/" target="_blank" class="btn">Read More</a>
            </div>
            <div class="services-box">
                <i class='bx bxs-paint'></i>
                <h3>UI/UX Designs</h3>
                <p>
                    I offer comprehensive UI/UX services, leveraging tools like Figma and over a year of experience with
                    <a
                        href="https://mvp.microsoft.com/en-US/studentambassadors/profile/cfd852c5-69b5-48de-88b1-0333cbf1e1ee">MLSA</a>
                    & <a href="https://developers.google.com/community/gdsc/leads">GDSC</a>. Let's create
                    designs that resonate with your audience!
                </p>
                <a href="https://www.holabrief.com/creative-brief/graphic-design-template#:~:text=It's%20a%20document%20that%20details,the%20whole%20creative%20process%20easier."
                    target="_blank" class="btn">Read More</a>
            </div>
            <div class="services-box">
                <i class='bx bx-bar-chart-alt'></i>
                <h3>AI/ML</h3>
                <p>
                    I have developed mini projects and assignments, and completed an internship with a project at Xavor
                    Corporation. Let's
                    leverage AI/ML to innovate and solve complex problems!
                </p>
                <a href="https://developer.android.com/docs" target="_blank" class="btn">Read More</a>
            </div>
        </div>
    </section>

    <!-- portfolio section design -->
    <section class="portfolio-projects" id="portfolio-projects">
        <h2 class="heading">Latest <span class="project-title">Project</span></h2>

        <ul class="project-filter">
            <li class="list project-filter-active" data-filter="all">All</li>
            <li class="list" data-filter="game">Games</li>
            <li class="list" data-filter="web">Websites</li>
            <li class="list" data-filter="ai">AI/ML</li>
            <li class="list" data-filter="design">Design</li>
        </ul>
        <!-- container -->
        <div class="project-boxes">
            <div class="box game">
                <a href="static/images/b1.png" class="project-box" data-lightbox="work">
                    <img src="static/images/b1.png" alt="">
                    <div class="details-container">
                        <div class="detail-head">
                            <h4>Car Racing Game</h4>
                        </div>
                        <div class="detail-description">
                            This is a traffic rush game built using Pygame library in Python. The game is about a car
                            whose speed doubles with each 30 score.
                        </div>
                        <div class="icon-container">
                            <a href="https://github.com/APRUN/Car_Racing_Game" class="i"><i
                                    class="bi bi-github"></i></a>
                            <a href="#" class="i"><i class="bi bi-youtube"></i></a>
                            <a href="#" class="i"><i class="bi bi-info-circle-fill"></i></a>
                        </div>
                    </div>
                </a>
            </div>
            <!-- box 2 -->
            <div class="box game">
                <a href="static//b2.png" class="project-box" data-lightbox="work">
                    <img src="static/images/b2.png" alt="">
                    <div class="details-container">
                        <div class="detail-head">
                            <h4>Classic Snake Game</h4>
                        </div>
                        <div class="detail-description">
                            This is a classical snake and apple game. This game is built using Pygame. The score and
                            size for the snake increases as it eats apple.
                        </div>
                        <div class="icon-container">
                            <a href="https://github.com/APRUN/Snake_Game" class="i"><i class="bi bi-github"></i></a>
                            <a href="#" class="i"><i class="bi bi-youtube"></i></a>
                            <a href="#" class="i"><i class="bi bi-info-circle-fill"></i></a>
                        </div>
                    </div>
                </a>
            </div>
            <!-- box 3 -->
            <div class="box ai">
                <a href="static/images/b3.jpg" class="project-box" data-lightbox="work">
                    <img src="static/images/b3.jpg" alt="">
                    <div class="details-container">
                        <div class="detail-head">
                            <h4>Face Recognition</h4>
                        </div>
                        <div class="detail-description">
                            This is a face recognition program that detects the face of a person using your web cam. It
                            uses OpenCV for the detection.
                        </div>
                        <div class="icon-container">
                            <a href="https://github.com/APRUN/Face-Detection-" class="i"><i
                                    class="bi bi-github"></i></a>
                            <a href="#" class="i"><i class="bi bi-browser-chrome"></i></a>
                            <a href="#" class="i"><i class="bi bi-info-circle-fill"></i></a>
                        </div>
                    </div>
                </a>
            </div>
            <!-- box 4 -->
            <div class="box web">
                <a href="static/images/b4.png" class="project-box" data-lightbox="work">
                    <img src="static/images/b4.png" alt="">
                    <div class="details-container">
                        <div class="detail-head">
                            <h4>Live Weather Forecaster</h4>
                        </div>
                        <div class="detail-description">
                            A web app developed with Streamlit UI and OpenWeather API that tells the live temprature for
                            a city by taking input for the city and state of weather.
                        </div>
                        <div class="icon-container">
                            <a href="https://github.com/APRUN/Live-Weather-Forecaster" class="i"><i
                                    class="bi bi-github"></i></a>
                            <a href="#" class="i"><i class="bi bi-browser-chrome"></i></a>
                            <a href="#" class="i"><i class="bi bi-info-circle-fill"></i></a>
                        </div>
                    </div>
                </a>
            </div>
            <!-- box 5 -->
            <div class="box ai">
                <a href="static/images/b5.png" class="project-box" data-lightbox="work">
                    <img src="static/images/b5.png" alt="">
                    <div class="details-container">
                        <div class="detail-head">
                            <h4>Sentiment Analysis</h4>
                        </div>
                        <div class="detail-description">
                            This is a text sentiment analysis web app. This uses the TextBlob library in Python to
                            analyze the sentiment of the text that can be used for analysis of feedback of any
                            application.
                        </div>
                        <div class="icon-container">
                            <a href="https://github.com/APRUN/Text_Sentiment_Analyzer" class="i"><i
                                    class="bi bi-github"></i></a>
                            <a href="#" class="i"><i class="bi bi-browser-chrome"></i></a>
                            <a href="#" class="i"><i class="bi bi-info-circle-fill"></i></a>
                        </div>
                    </div>
                </a>
            </div>
            <!-- box 6 -->
            <div class="box web">
                <a href="static/images/b6.jpg" class="project-box" data-lightbox="work">
                    <img src="static/images/b6.png" alt="">
                    <div class="details-container">
                        <div class="detail-head">
                            <h4>Plagirism Remover</h4>
                        </div>
                        <div class="detail-description">
                            This is a web application that uses API to remove plagirism from text. It uses robot
                            verificationa and then gives output of the plagirism free text.
                        </div>
                        <div class="icon-container">
                            <a href="https://github.com/APRUN/Plagirism-Remover-Website" class="i"><i
                                    class="bi bi-github"></i></a>
                            <a href="#" class="i"><i class="bi bi-browser-chrome"></i></a>
                            <a href="#" class="i"><i class="bi bi-info-circle-fill"></i></a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>


    <!-- Skills Section -->
    <section class="Skills-Bar-Container" id="Skills-Bar-Container">
        <div class="skills_section">
            <div class="skills_head">
                <h2>My <span>Proficiencies</span></h2>
                <!-- <p>Here is my skills to represent my Expertise</p> -->
            </div>

            <div class="skills_main">
                <div class="skill_bar">
                    <div class="info">
                        <p>HTML</p>
                        <P>90%</P>
                    </div>
                    <div class="bar">
                        <span class="html"></span>
                    </div>
                </div>
                <div class="skill_bar">
                    <div class="info">
                        <p>CSS</p>
                        <P>85%</P>
                    </div>
                    <div class="bar">
                        <span class="css"></span>
                    </div>
                </div>
                <div class="skill_bar">
                    <div class="info">
                        <p>Python</p>
                        <P>55%</P>
                    </div>
                    <div class="bar">
                        <span class="python"></span>
                    </div>
                </div>
                <div class="skill_bar">
                    <div class="info">
                        <p>Java Script</p>
                        <P>70%</P>
                    </div>
                    <div class="bar">
                        <span class="js"></span>
                    </div>
                </div>
                <div class="skill_bar">
                    <div class="info">
                        <p>C++</p>
                        <P>75%</P>
                    </div>
                    <div class="bar">
                        <span class="cpp"></span>
                    </div>
                </div>
                <div class="skill_bar">
                    <div class="info">
                        <p>C#</p>
                        <P>80%</P>
                    </div>
                    <div class="bar">
                        <span class="cs"></span>
                    </div>
                </div>
                <div class="skill_bar">
                    <div class="info">
                        <p>Java</p>
                        <P>79%</P>
                    </div>
                    <div class="bar">
                        <span class="coms"></span>
                    </div>
                </div>
                <div class="skill_bar">
                    <div class="info">
                        <p>Project Management</p>
                        <P>90%</P>
                    </div>
                    <div class="bar">
                        <span class="prom"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- testimonial design -->
    <div class="testimonial-container">
        <h2 class="heading">My <span>Technologies</span></h2>

        <div class="testimonial-wrapper">
            <div class="testimonial-box mySwiper">
                <div class="testimonial-content swiper-wrapper">
                    <div class="testimonial-slide swiper-slide">
                        <img src="static/images/DSA.png" alt="">
                        <h3>DSA</h3>
                        <p>Data Structures and Algorithms, one of my courses. I learnt different sorting and
                            searchng algorithms during the course. Then i started learning about different Data
                            Structures that include Linked Lists (with types), Stack, Queue, Trees, Graphs, Hashing etc.
                        </p>
                    </div>
                    <div class="testimonial-slide swiper-slide">
                        <img src="static/images/OOP.png" alt="">
                        <h3>OOP</h3>
                        <p>Object Oriented Programming is one of the most widely and latest orientation of programming
                            we used to develop our
                            applications. I have been implementing OOP in my projects since my 2nd semester and cleared
                            all pillars and
                            concepts of OOP.
                        </p>
                    </div>
                    <div class="testimonial-slide swiper-slide">
                        <img src="static/images/BootStrap.png" alt="">
                        <h3>BootStrap</h3>
                        <p>While learning web development i came to know about the most famous framework and which was
                            easy to
                            learn too and it was Bootstrap. I visited the documentation website of Bootstrap and started
                            practical work on Bootstrap.
                        </p>
                    </div>
                    <div class="testimonial-slide swiper-slide">
                        <img src="static/images/TailwindCSS.png" alt="">
                        <h3>Tailwind CSS</h3>
                        <p>After learning Boostrap i was curious to know about other web frameworks too. Then i
                            starting practical of documentation of Tailwind CSS and started practical work on it.
                            Tailwind CSS was another framework that i practiced for web development.
                        </p>
                    </div>
                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

    <!-- contact section design -->x

    <section class="contact" id="contact">
        <h2 class="heading">Contact <span>Me!</span></h2>
        <form action="https://api.web3forms.com/submit" method="POST">
            <input type="hidden" name="access_key" value="06bc3766-08d3-421b-9245-6a0d40730cef">
            <div class="input-box">
                <input type="text" name="fullName" placeholder="Full Name" id="fullName" required>
                <input type="email" name="emailAddress" placeholder="Email Address" id="email" required>
            </div>
            <div class="input-box">
                <input type="tel" name="contactNumber" placeholder="Mobile Number" id="mobileNumber">
                <input type="text" name="emailSubject" placeholder="Email Subject" id="emailSubject" required>
            </div>
            <textarea id="message" name="message" cols="30" rows="10" placeholder="Your Message" required></textarea>
            <input type="submit" value="Send Message" class="btn" id="saveCsvButton">
        </form>
    </section>



    <!-- footer design -->
    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2022 | Khalil Ahmad | All Rights Reserved.</p>
        </div>

        <div class="footer-iconTop">
            <a href="#home"><i class='bx bx-up-arrow-alt'></i></a>
        </div>
    </footer>



    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- swiper js -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <!-- custom js -->
    <script src="static/js/script.js"></script>

    <!-- // For Project Section -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/Files/lightbox.min.js"></script>
    <script>
        $(document).on('click', '.project-filter li', function () {
            $(this).addClass('project-filter-active').siblings().removeClass('project-filter-active');
        });

        // Project Filter
        $(document).ready(function () {
            $('.list').click(function () {
                const value = $(this).attr('data-filter');
                if (value == 'all') {
                    $('.box').show('1000');
                } else {
                    $('.box').not('.' + value).hide('1000');
                    $('.box').filter('.' + value).show('1000');
                }
            });

            // Trigger click on "All" tab to show all projects by default
            $('.project-filter li[data-filter="all"]').click();
        });
    </script>
    <script>
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.10.0/firebase-app.js";
        import { getDatabase, ref, set } from "https://www.gstatic.com/firebasejs/10.10.0/firebase-database.js";

        const firebaseConfig = {
            apiKey: "AIzaSyANTcFTcY89UTCtKqQBIuc4b3XpP34dbvg",
            authDomain: "portfolio-khalil.firebaseapp.com",
            databaseURL: "your-database-url",
            projectId: "portfolio-khalil",
            storageBucket: "portfolio-khalil.appspot.com",
            messagingSenderId: "528856298717",
            appId: "1:528856298717:web:bbcb1025d1e46ebfec9734",
        };

        function storeIpAddress(ip) {
            var ipRef = firebase.database().ref('ip-addresses').push();
            ipRef.set({
                ip: ip,
                timestamp: Date.now()
            });
        }


        const app = initializeApp(firebaseConfig);
        const db = getDatabase(app);

        function fetchIpAddress() {
            return new Promise((resolve, reject) => {
                fetch('https://api64.ipify.org?format=json')
                    .then(response => response.json())
                    .then(data => resolve(data.ip))
                    .catch(error => reject(error));
            });
        }

        function storeIpAddress(header, ipDisplayValue) {
            fetchIpAddress()
                .then(ipAddress => {
                    set(ref(db, header + ipDisplayValue + "/ipAddress"), ipAddress)
                        .then(() => console.log("IP address stored successfully."))
                        .catch(error => console.error("Error storing IP address:", error));
                })
                .catch(error => console.error("Error fetching IP address:", error));
        }

        function getCurrentDateTime() {
            return new Date().toLocaleString();
        }

        function storeDate(ipDisplayValue) {
            const datetime = getCurrentDateTime();
            set(ref(db, "UserData/" + ipDisplayValue + "/Date"), datetime)
                .then(() => console.log("Date stored successfully."))
                .catch(error => console.error("Error storing date:", error));
        }

        function storeUserData() {
            const ipDisplayValue = document.getElementById("fullName").value;
            const emailValue = document.getElementById("email").value;
            const contactValue = document.getElementById("mobileNumber").value;

            storeIpAddress("UserData/", ipDisplayValue);
            storeDate(ipDisplayValue);

            set(ref(db, "UserData/" + ipDisplayValue + "/fullName"), ipDisplayValue);
            set(ref(db, "UserData/" + ipDisplayValue + "/email"), emailValue);
            set(ref(db, "UserData/" + ipDisplayValue + "/Contact"), contactValue);
        }

        document.getElementById("saveCsvButton").addEventListener("click", storeUserData);

        window.onload = function () {
            const val = new Date().toLocaleString();
            storeIpAddress("OnLoadData/" + val);
        };
    </script>

</body>

</html>